name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      deploy_message:
        description: 'Enter a message for this deployment (optional)'
        required: false
        type: string
        default: 'Manual deployment'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.0'
          channel: 'stable'
      
      - name: Install web dependencies
        run: |
          cp pubspec.web.yaml pubspec.yaml
          flutter pub get
      
      - name: Build web
        run: flutter build web --base-href /bible_quest/
      
      - uses: actions/configure-pages@v3
        id: pages
      
      - uses: actions/upload-pages-artifact@v2
        with:
          path: 'build/web'
      
      - uses: actions/deploy-pages@v2
        id: deployment 